#background-blue-bar{
    background-color: #0282f9;
    height: 80px;
  }
  #container-fumetto{
    margin: 0px auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .color-white{
    background-color: white;
    padding: 50px 0;
    position: relative;
    p{
      margin-right: 30px;
    }
    #fumetto-img{
      width: 150px;
      position: absolute;
      top: -260px;
      left: 300px;
    }
  }
  #green-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #55ba59;
    color: white;
    margin: 20px 80px 20px 0;
    width: 800px;
    #left-halfbar{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      padding: 10px 20px;
      border-right: 1px solid gray;
    }
    #right-halfbar{
      width: 20%;
      display: flex;
      
    }
  }
  .large{
      width: 800px;
  }
    .color-grey{
        background-color: #f6f6f6;
    }
    #talents-specs{
      display: flex;
      margin: 0 auto;
      width: 70%;
      #talents{
        width: 50%;
    }
    #specs{
        width: 50%;
    }
    #more-info{
        display: flex;
        justify-content: space-between;
        padding: 20px 30px 0 0 ;
        .subtitle{
          width: 30%;
        }
        .details{
          width: 70%;
        }
      
    }
  }
  
  #blue-bar {
      height: 150px;
      background-color: #0282f9;
      color: #fff;
      display: flex;
      justify-content: center;
        .buy-comics {
          display: flex;
          align-items: center;
          margin: 0 30px;
            img {
              width: 50px;
            }
            
            span {
              margin-left: 15px;
            }
        }
    }
  