#blue-bar{
    background-color: #0282f9;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center
};
#buy-comics{
    
    margin: 0 auto;
    width: calc(100% / 5);
    display: flex;
    
}
img{
    width: 100px;
    vertical-align: middle;
}
